* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: beige;
}


@font-face {
    font-family: "MuseoCyrl-900";
    src: url(../fonts/Museo\ Cyrl\ 900.woff) format("woff"),
        url(../fonts/Museo\ Cyrl\ 900.woff2) format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 900;
}


.container {
    max-width: 1110px;
    margin: auto;
    padding: 50px 0 40px 0;
}